{
    "HomeWebsite": {
        "WEBSITE_S3_BUCKET": "bucket name",
        "EMAIL_SQS":"URL of SQS"
    },
    "GeneratePDF": {
        "WEBSITE_S3_BUCKET": "bucket name",
        "EMAIL_SQS":"URL of SQS"
    }
}